:root{
    /* Colors */
    --white-color : #fff;
    --dark-color :#252525;
    --primary-color : #3b141c;
    --secondary-color : #f3961c;
    --light-pink-color : #faf4f5;
    --meduim-gray-color : #ccc;

    /* font size variables */
    --font-size-s : 0.9rem;
    --font-size-n : 1rem;
    --font-size-m : 1.12rem;
    --font-size-l : 1.5rem;
    --font-size-xl : 2rem;
    --font-size-xxl : 2.3rem;

    /* font weight variables */
    --font-weight-normal : 400;
    --font-weight-meduim : 500;
    --font-weight-semibold : 600;
    --font-weight-bold : 700;

    /* Border raduis */
    --border-raduis-s : 8px;
    --border-raduis-m : 30px;
    --border-raduis-circle : 50%;

    /* site max width */
    --site-max-width : 1300px;

    --scroll-padding-top : 77px;
}

/* --------------------------------------------------------- */
/* Start Main Settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
}

body{
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

.container{    
    width: 85%;
    margin: auto;
}

ul{
    list-style: none;
    display: flex;
    width: fit-content;
    gap: 10px;
}

ul a{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

/* End of Main Settings */

/* ----------------------------------------------------------------------------------------------------- */
/* start of header section */


.header{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.navbar .nav-logo .logo-image{
    height: 35px;
    width: 35px;
}

.navbar .navmenu{
    gap: 20px;
    cursor: pointer;
    user-select: none;
}

.navbar .navmenu .navlink{
    padding: 15px 10px;
}

.navbar .navmenu .navlink a{
    color: var(--white-color);
}

.navbar .navmenu .navlink:hover{
    background-color: var(--secondary-color);
    border-radius: var(--border-raduis-m);
}

#close-btn{
    display: none;
    cursor: pointer;
}

#open-btn{
    display: none;
    cursor: pointer;
}

@media screen and (max-width : 1100px) {
    .navbar .navmenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100vh;
        width: 250px;
        background-color: var(--white-color);
        transition: left 0.3s ease-in;
    }

    .navbar .navmenu .navlink a{
        color: black;
    }

    #close-btn{
        display: block;
        cursor: pointer;
        color: black;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    
    #open-btn{
        display: block;
    }
}

/* end of header section */
/* ----------------------------------------------------------------------------------------------------- */


/*------------------------------------------------------------------------------------------------ */
/* start of hero section */

.hero-section{
    background-color: var(--primary-color);
    height: calc(100vh);
}

.hero-section-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.hero-section-details{
    width: 400px;
}

.hero-section-title{
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.hero-section-sub-title{
    color: var(--white-color);
    margin-bottom: 20px;
}


.hero-section-description{
    color: var(--white-color);
}

.hero-section-elements .buttons{
    margin-top: 40px;
}

.hero-section-elements .buttons a{
    padding: 20px 30px;
    color: var(--white-color);
    background-color: transparent;
    border-radius: var(--border-raduis-m);
    border: 1px solid white;
}

.hero-section-elements .buttons a:first-child{
    margin-right: 15px;
    background-color: var(--secondary-color);
    border: none;
}

.hero-section-elements .buttons a:hover{   
    background-color: var(--secondary-color);
    border: none;
}

.hero-section-image img{
    height: 450px;
    width: 450px;
}


@media screen and (max-width:930px) {
    
    .hero-section-elements{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 70px;
    }

    .hero-section-title{
        margin-bottom: 15px;
        font-size: 20px;
    }

    .hero-section-sub-title{
        font-size: 16px;
        margin-bottom: 15px;
    }

    .hero-section-description{
        font-size: 12px;
    }

    .hero-section-sub-title{
        margin-bottom: 10px;
    }
    
    .hero-section-image img{
        height: 210px;
        width: 210px;
    }
    
    .hero-section-elements .buttons{
        margin-top: 70px;
    }

    .hero-section-elements .buttons a{
        padding: 15px 20px;
        font-size: 14px;
    }
    
}

@media screen and (max-width:480px) {
    .hero-section-details{
        width: 300px;
    }
}

/* end of hero section */
/* ----------------------------------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------------------------------- */
/* start of about section */

.about-section-elements{
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 17px);
}

.about-section .about-image img{
    height: 400px;
    width: 400px;
    border-radius: var(--border-raduis-circle);
}

.about-section .about-details{
    text-align: center;
    width: 400px;
}

.about-details .about-title{
    margin-bottom: 50px;
    position: relative;
}

.about-details .about-title::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: var(--border-raduis-m);
    background-color: var(--secondary-color);
}


.about-description{
    margin-bottom: 20px;
}

@media screen and (max-width : 990px) {
    .about-section .about-image img{
        height: 300px;
        width: 300px;
    }
}


@media screen and (max-width : 880px) {

    .about-section-elements{
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 17px);
    }

    .about-details .about-title{
        position: relative;
        margin-top: 20px;
    }
    
    .about-section .about-image img{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width:470px) {
    .about-section .about-details{
        text-align: center;
        width: 320px;
    }
}
/* end of about section */
/* ----------------------------------------------------------------------------------------------------- */



/* start of our menu section */
.our-menu{
    background-color: var(--dark-color);   
}

.gallery-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;
}

.gallery-item{
    height: 400px;
    width: 300px;
    text-align: center;
    color: var(--white-color);
}

.gallery-item .gallery-item-image{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.gallery-item-title{
    margin-bottom: 20px;
}

.gallery-item-description{
    color: rgba(255, 255, 255, 0.596);
}


@media screen and (max-width : 1100px) {
    :root{
        --scroll-padding-top : 60px;
    }

    .gallery-menu{
        justify-content: space-around;
        padding: 60px 0;
    }
    
    
}

/* end of our menu section */
/* ----------------------------------------------------------------------------------------------------- */



/* start of testimonials section */
.testimonails{
    background-color: var(--white-color);
    color: var(--dark-color);
    text-align: center;
    margin-top: 20px;
}

.testimonials-title{
    margin-bottom: 100px;
    position: relative;
    padding: 20px 0;
}

.testimonials-title::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: var(--border-raduis-m);
    background-color: var(--secondary-color);
}

.testimonials-persons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonaias-description{
    font-size: 12px;
}

.testimonials-persons-card{
    width: 250px;
}

.testimonials-persons-card img{
    height: 120px;
    width: 120px;
    border-radius: var(--border-raduis-circle);
    margin-bottom: 20px;
}

.testimonaias-title, .testimonaias-description{
    margin-bottom: 20px;
}


.testimonials-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.testimonials-icons div{
    height: 15px;
    width: 15px;
    border-radius: var(--border-raduis-circle);
    border: 1px solid var(--secondary-color);
    margin-left: 10px;
    cursor: pointer;
}

.testimonials-elements{
    position: relative;
}
.right-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.left-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.right-icon:active , .left-icon:active{
    color: var(--dark-color);
}

.active{
    background-color: var(--secondary-color);
}


@media screen and (max-width:1055px) {
    .testimonials-persons-card{
        width: 160px;
    }
    .right-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -50px;
        color: var(--secondary-color);
        cursor: pointer;
        transition: 0.3s;
    }
    .left-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -50px;
        color: var(--secondary-color);
        cursor: pointer;
        transition: 0.3s;
    }
}

@media screen and (max-width:780px) {
    .testimonials-persons-card{
        width: 120px;
    }
    
}

@media screen and (max-width:680px) {
    
    .testimonials-persons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials-persons-card{
        width: 350px;
        margin-bottom: 40px;
    }
    
    
    .testimonials-persons-card img{
        height: 250px;
        width: 250px;
        border-radius: var(--border-raduis-circle);
        margin-bottom: 20px;
    }

    .testimonaias-title{
        font-size: 22px;
        font-weight: 700;
    }
    
    .testimonaias-description{
        font-size: 16px;
        font-weight: 500;
    }
    
    .right-icon, .left-icon, .testimonials-icons{
        display: none;
    }
}

@media screen and (max-width:450px) {
    .testimonials-persons-card{
        width: 300px;
        margin-bottom: 40px;
    }

    .testimonaias-title{
        font-size: 20px;
        font-weight: 700;
    }
    
    .testimonaias-description{
        font-size: 14px;
        font-weight: 500;
    }
}

/* end of our menu section */
/* ----------------------------------------------------------------------------------------------------- */



/* start gallery section */


.gallery-title{
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}

.gallery-title::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: var(--border-raduis-m);
    background-color: var(--secondary-color);
}

.gallery-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.gallery-content .gallery-image{
    height: 250px;
    width: 350px;
    border-radius: var(--border-raduis-s);
    overflow: hidden;
}

.gallery-content img{
    height: 250px;
    width: 100%;
    border-radius: var(--border-raduis-s);
    transition: all 0.3s;
    cursor: zoom-in;
}

.gallery-content img:hover{
    transform: scale(1.2);
}

@media screen and (max-width:1100px) {
    .gallery-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .gallery-content .gallery-image{
        height: 300px;
        width: 300px;
        flex-grow: 1;
    }

    .gallery-content img{
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width:780px) {
    .gallery-content .gallery-image{
        height: 300px;
        max-width: 500px;
    }
    
}

/* end of gallery section */
/* ----------------------------------------------------------------------------------------------------- */



/* start contact section */

.contact{
    background-color: var(--light-pink-color);
    padding: 30px 0;
}

.contact-full{
    padding-bottom: 100px;
    margin-top: 10px;
}

.contact-elements{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}

.contact-title{
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}

.contact-title::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: var(--border-raduis-m);
    background-color: var(--secondary-color);
}

.contact-detail-element{
    display: flex;
    gap : 30px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
}

.contact-details{
    flex-grow: 1;
}

.inputs{
    width: 400px;
    flex-grow: 2;
}

.text-input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: var(--border-raduis-s);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--meduim-gray-color);
    font-size: 14px;
}

.area-text{
    width: 100%;
    outline: none;
    border-radius: var(--border-raduis-s);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--meduim-gray-color);
    font-size: 14px;
}

.text-input:focus, .area-text:focus{
    border-color: #afafaf;
    border-width: 2px;
}

.btn-input{
    height: 50px;
    width: 110px;
    border-radius: var(--border-raduis-m);
    background-color: var(--primary-color);
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.btn-input:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}


@media screen and (max-width : 820px) {
    .contact-detail-element{
        display: flex;
        gap : 30px;
        margin-bottom: 20px;
        font-size: 14px;
        width: 100%;
    }
    
    .contact-details{
        flex-grow: 1;
        min-width: 250px;
    }
    
    .inputs{
        width: 400px;
        min-width: 230px;
        flex-grow: 1;
    }

    .area-text{
        width: 100%;
        outline: none;
        border-radius: var(--border-raduis-s);
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 12px;
        border: 1px solid var(--meduim-gray-color);
        font-size: 14px;
        height: 150px;
        min-width: 230px;
    }
}

@media screen and (max-width : 600px) {
    .contact-elements{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 250px;
    }
    
    .contact-details{
        flex-grow: 1;
        
    }
    
    .inputs{
        width: 100%;
    }

    .area-text{
        width: 100%;        
    }
}
/* end of contact section */
/* ----------------------------------------------------------------------------------------------------- */



/* start footer section */
.footer{
    height: 80px;
    background-color: #252525;
}

.footer-elements{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    font-size: 14px;
}

.footer-icons i{
    margin-left: 20px;
    cursor: pointer;
}

.footer-icons i:hover{
    color: var(--secondary-color);
}

.footer-links a{
    color: var(--white-color);
    cursor: pointer;
    margin-left: 20px;
}

.footer-links a:hover{
    color: var(--secondary-color);
}


@media screen and (max-width:600px) {
    .footer-elements{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-icons i{
        display: none;
    }
    .footer-links a{
        display: none;
    }
}
/* end of footer section */
/* ----------------------------------------------------------------------------------------------------- */
